{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "linebreak-style": "off",
        "semi": [2, "never"],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/require-default-props": "off",
        "import/prefer-default-export": "off",
        "no-underscore-dangle": "off",
        "react/forbid-prop-types": "off",
        "react/jsx-one-expression-per-line": "off",
        "jsx-a11y/accessible-emoji": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "jsx-a11y/label-has-for": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "no-use-before-define": "off"
    },
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    }
}